@media (min-width: 320px) {
  .navbar {
    background-color: #DBEBFA;
    font-size: calc(8px + 2vmin);
    padding: 0.75rem;

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  
  .navbar li, .header p, .header h1  {
    margin: 0;
    padding: 5px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
  }

  .header h1 {
    color: #047;
  }

  .navlinks {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .navbar li, .header p, .header h1  {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  .navbar {
    font-size: calc(5px + 2vmin);
  }
}

@media (min-width: 2560px) {
}